services:
  jishono-api:
    volumes:
      - .:/usr/src/app
      - jishono_node_modules:/usr/src/app/node_modules
    entrypoint: ["/bin/sh", "/usr/src/app/docker-entrypoint.dev.sh"]

  postgres:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASS_ADMIN_NODE}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
  jishono_node_modules: