services:
  jishono-api:
    build: .
    environment:
      - DB_HOST_NODE=${DB_HOST_NODE}
      - DB_PORT_NODE=${DB_PORT_NODE}
      - DB_USER_ADMIN_NODE=${DB_USER_ADMIN_NODE}
      - DB_NAME_NODE=${DB_NAME_NODE}
      - DB_PASS_ADMIN_NODE=${DB_PASS_ADMIN_NODE}
      - NODE_ENV=${NODE_ENV}
      - JWT_SECRET=${JWT_SECRET}
      - NODEMAILER_USER=${NODEMAILER_USER}
      - NODEMAILER_PASSWORD=${NODEMAILER_PASSWORD}
    ports:
      - 3001:3001
    command: nodemon start

  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASS_ADMIN_NODE}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data 
 
volumes:
  pgdata: