services:
  jishono-api:
    build: .
    environment:
      - DB_HOST_NODE=${DB_HOST_NODE}
      - DB_PORT_NODE=${DB_PORT_NODE}
      - DB_USER_ADMIN_NODE=${DB_USER_ADMIN_NODE}
      - DB_NAME_NODE=${DB_NAME_NODE}
      - DB_PASS_ADMIN_NODE=${DB_PASS_ADMIN_NODE}
      - NODE_ENV=${NODE_ENV}
      - JWT_SECRET=${JWT_SECRET}
      - NODEMAILER_USER=${NODEMAILER_USER}
      - NODEMAILER_PASSWORD=${NODEMAILER_PASSWORD}
      - DATABASE_URL=postgres://${DB_USER_ADMIN_NODE}:${DB_PASS_ADMIN_NODE}@${DB_HOST_NODE}:${DB_PORT_NODE}/${DB_NAME_NODE}
    ports:
      - 3001:3001
    command: nodemon start
