<%- include ("partials/head.ejs") %>

<body>
  <span>Hei! Noen har kommentert på <a href="https://baksida.jisho.no/forslag/<%= forslag_id %>/kommentarer">forslaget ditt</a>.</span>

  <%- include ("partials/footer.ejs") %>