<%- include ("partials/head.ejs") %>

<body>
  <img src="https://jisho.no/jisho_logo_full.png" height="100">
  <h2><%= brukernavn %>さん！jisho.noのBaksidaへようこそ！</h2>
  <h4>Takk for at du vil være med å gjøre jisho.no til en fantastisk ressurs!<br>
    jisho.noが素晴らしい辞書になるように協力してくれてありがとうございます！</h4>
  <div class="boks">
    <span style="font-weight: bold">Gjøremålsliste for nye brukere<br>
      新しいユーザーのto doリスト</span>
    <ol style="padding-left: 20px">
      <li><span>Les nøye gjennom <a href="https://baksida.jisho.no/om" target="_blank">forklaringen av hva Baksida
            er</a><br>
          <a href="https://baksida.jisho.no/om" target="_blank">Baksidaの説明文</a>をよく読むこと</span></>
      <li><span>Klikk deg rundt og bli kjent med nettsidas funksjonalitet<br>
          ツールバーの項目をすべてクリックして機能を知ること</span></li>
      <li><span>Introduser deg selv på <a href="https://baksida.jisho.no/veggen/9" target="_blank">Veggen</a><br>
          <a href="https://baksida.jisho.no/veggen/9" target="_blank">掲示板で</a>自己紹介すること</span></li>
      <li><span>Les <a href="https://baksida.jisho.no/instruks" target="_blank">instruksen for oversettelser</a>
          nøye<br>
          <a href="https://baksida.jisho.no/instruks" target="_blank">翻訳作業の手引き</a>をよく確認すること</span></li>
      <li><span>Stem og kommenter på andres oversettelser på <a href="https://baksida.jisho.no/forslag"
            target="_blank">forslagsoversikten</a><br>
          <a href="https://baksida.jisho.no/forslag" target="_blank">提案の一覧で</a>他のユーザーの提案に投票やコメントをすること</span></li>
      <li><span>Legg inn ditt første forslag til en ny oversettelse enten fra <a
            href="https://baksida.jisho.no/oversett" target="_blank">anbefalingene</a> eller ved <a
            href="https://baksida.jisho.no/sok" target="_blank">å søke</a><br>
          <a href="https://baksida.jisho.no/oversett" target="_blank">自動提案の中</a> か <a
            href="https://baksida.jisho.no/sok" target="_blank">検索から</a>単語を見つけて初めて翻訳の提案を出すこと</span></li>
      <li><span>Følg jevnlig med på hva andre stemmer og kommenterer på dine forslag<br>
          自分の提案に他のユーザーからの投票やコメントを定期的に確認すること</span></li>
    </ol>
  </div>
  <p style="font-weight: bold">Lykke til! Spør på veggen eller svar på denne e-posten hvis du lurer
    på noe.<br>
    頑張ってね！質問があったら、掲示板で投稿するか、このメールに返事してください。</p>
</body>

</html>