<%- include ("partials/head.ejs") %>

<body>
  <span>Hei! Noen har svart på <a href="https://baksida.jisho.no/veggen/<%= innlegg_id %>">innlegget ditt på veggen</a>.</span>

  <%- include ("partials/footer.ejs") %>